<div class="top-bar container">
    <div class="left-float row">
        <div class="col-md-2">
            <img src="./assets/images/truck_icon.png">
        </div>
        <div class="col-md-5">
            Free Delivery
        </div>
        <div class="col-md-5">
            Return Policy
        </div>
    </div>
    <div class="right-float row">
        <div class="col-md-4">
            Login
        </div>
        <div class="col-md-4">
            Follow US
        </div>
        <div class="col-md-4">
            <img class="right-icon" src="./assets/images/facebook_icon.png">
            <img class="right-icon" src="./assets/images/in_icon.png">
            <img class="right-icon" src="./assets/images/twitter_icon.png">
            <img class="right-icon" src="./assets/images/insta_icon.png">
        </div>
    </div>
</div>
<div class="title-bar container">
    Shopkart
    <img src="./assets/images/horizontal_heading.png">
    <app-banner></app-banner>
    <div class="main-box">
        <div class="text-box">
            <span>Fresh 2022 Look</span>
        </div>
        <div class="yellow-box"></div>
        <div class="star">
            <img src="./assets/images/star.png">
        </div>
        <div class="man-model">
            <img src="./assets/images/model.png">
        </div>
    </div>
</div>
